header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #444444;
}

.network {
    display: flex;
}

.layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 148px;
}

.node {
    width: 0px;
    height: 0px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 12px 0;
}

canvas {
    position: absolute;
    top: 0;
    left: -160px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    font-size: 1.2em;
    margin: 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: disc;
}

.entry {
    margin-bottom: 20px;
}

#projects h3 {
    font-weight: bold;
}

.title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    font-size: 3em;
    color: white;
    display: inline-block;
}

.subtitle {
    font-size: 1.5em;
    color: white;
    display: block;
    margin-top: 10px; /* Adjust the spacing between the main title and subtitle */
}

.main-title, .subtitle {
    background-color: black;
    padding: 5px 10px; /* Adjust the padding for the black rectangles */
}
